<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Mics</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
      <img class="logo" src="https://i.imgur.com/DiXCH3e.png">
     
        <a href="/">Home</a>
        <% if (user) { %>
        |
        <a href="/open-mics">All Open Mics</a>
        
        |
        <a href="/open-mics/new" <%- title === 'New Open Mic' ? 'class="active" ' : '' %>>New Open Mic</a>
        |
      <a href="/logout">LOG OUT</a>
          
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img class="google" src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </nav>
    
