<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Mics</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        |
        <a href="/open-mics/new">Add an OpenMic!</a>
    </nav>
    
</body>
</html>