<%- include('../partials/header') %> 

<h2> Update You Open Mic Review </h2>

</section> 
<br><br<h2> Update Review: </h2>
<form id="update-open-mic-review-form" 
action="/open-mics/<%= openMic.id%>/reviews/<%= review._id%>?_method=PUT" method="POST">
<br>
<textarea name="experience"></textarea>
<br>
<label>Update Rating: </label>
<br>
<select name="rating">
   <option value="1">1</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
   <option value="5" selected>5</option>
</select> <br>
<input class="button" type="submit" value="Update My Review">
</form>
